{% extends "base.html" %}
{% block title %} Bilgiler {% endblock %}
{% block body %}
    <div style="margin-top: 2em" class="form">
    <div class="note">
                    <p>Lütfen size ulaşabilmemiz için iletişim bilgilerinizi giriniz.</p>
                </div>


<form method="post" action="{% url 'addContact' %}">
{% csrf_token %}
     <div class="row">
         <div class="col-md-6">
  <div class="form-group">
    <label >Ad</label>
    <input name="firstName"  class="form-control pl-5"   placeholder="Adınız">

  </div>
  <div class="form-group">
 <label>Soyad</label>
    <input name="lastName" type="text" class="form-control pl-5" placeholder="Soyadınız">
  </div>
         </div>
         <div class="col-md-6">
  <div class="form-check">
       <label >E-posta Adresi</label>
    <input name="e-mail" type="text" class="form-control pl-5" placeholder="E-Posta adresiniz">

  </div>
<label>Link Geçerlilik Süresi</label>
             <select name="validtyTime" class="form-control pl-5" aria-label="Default select example">
                 {% for i in validityTimes %}
  <option selected>{{ i }} saat</option>
                 {% endfor %}
             </select>

</div>
     </div>
    <button type="submit"  class="btn btn-primary pstn">Gönder</button>
</form>
</div>





</div>

{% endblock body%}