
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} {% endblock title %}</title>
</head>

<body>

<div class="container">

{% block body %}

{% endblock body %}
</div>
       <script>
function addForm(btnId,formsetClass,formClass,emptyFormId){
    const addMoreBtn = document.getElementById(btnId)
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')

    addMoreBtn.addEventListener('onclick', add_new_form)

    function add_new_form(event) {

        const currentIngredientForms = document.getElementsByClassName(formClass)
        const currentFormCount = currentIngredientForms.length //+1
        const formCopyTarget = document.getElementById(formsetClass)
        const copyEmptyFormEl = document.getElementById(emptyFormId).cloneNode(true)
        copyEmptyFormEl.setAttribute('class', formClass)
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        formCopyTarget.append(copyEmptyFormEl)

    }
add_new_form()
}
</script>
</body>
</div>
</html>
