{% extends "base.html" %}

{% block body %}
    <div style="margin-top: 2em" class="form">
    <div class="note">
                    <p>Lütfen size ulaşabilmemiz için iletişim bilgilerinizi giriniz.</p>
                </div>
<form method="post" action="/send">
{% csrf_token %}
     <div class="row">
         <div class="col-md-6">
  <div class="form-group">
    <label >Ad</label>
    <input name="firstName"  class="form-control"   placeholder="Adınız">

  </div>
  <div class="form-group">
 <label>Soyad</label>
    <input name="lastName" type="text" class="form-control" placeholder="Soyadınız">
  </div>
         </div>
         <div class="col-md-6">
  <div class="form-check">
       <label >E-posta Adresi</label>
    <input name="email" type="text" class="form-control" placeholder="E-Posta adresiniz">

  </div>
<label>Link Geçerlilik Süresi</label>
             <select name="validtyTime" class="form-control" aria-label="Default select example">
                 {% for i in validityTimes %}
  <option selected>{{ i }} saat</option>
                 {% endfor %}
             </select>

</div>
     </div>
    <button type="submit"  class="btnSubmit">Gönder</button>
</form>
</div>







{% endblock body%}